

<div class="well">
<%= form_for(@todo) do |r| %>

	<p>
	<%= r.label :date_of_entry, "20/01/2016 " %>
	<%= r.text_field :date_of_entry %>
	</p>

	<p>
	<%= r.label :description, "Description: " %>
	<%= r.text_area :description %>
	</p>

	<p>
	<%= r.label :due_date, "Deadline: " %>
	<%= r.text_field :due_date %>
	</p>

	<p>
		<%= r.label :priority, "Choose the priority" %>
		<p><%= r.select :priority, [["Low",1], ["Medium", 2], ["High", 3]] %></p>
	</p>

	<p>
		<%= r.label :status, "Finished this task already?" %>
		<p><%= r.check_box :status %></p>
	</p>

	<%= r.submit %>

<% end %>
</div>
